<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
th:replace="~{main/layout/admin.html::areas(~{::body})}">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>o</title>
</head>

<body>
	<p>Search</p>
<input type="text" id="searchInput" onchange="searchProducts()">
<a th:href="@{/adm/product}">back</a>
	<div class="products-watches__table products-table">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Product Name</th>
					<th scope="col">Price (vnd)</th>
					<th scope="col">Brand</th>
					<th scope="col">Category</th>
					<th scope="col">Gender</th>
					<th></th>
				</tr>
			</thead>
			<tbody id="productTableBody">
				<tr th:each="product : ${listProductAdmin}">
					<td th:text="${product.name}"></td>
				<td th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')}"></td>
					<td th:text="${product.brand.name}"></td>
					<td th:text="${product.categorizes.name}"></td>
					<td th:text="${product.gender.gender}"></td>
					<td><a th:href="@{|/adm/editproduct/${product.productsId}|}">Edit</a></td>
				</tr>
			</tbody>
		</table>
	</div>

<script>
    function searchProducts() {
        var keyword = document.getElementById("searchInput").value;
        window.location.href = "/search?keyword=" + keyword;
    }
</script>
</body>

</html>