<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/reset.css" />
  </head>
  <body class="user-pass-forgot">
    <div class="container">
      <div class="container-form" id="register">
        <h2>Quên Mật Khẩu</h2>
        <p
          th:if="${error}"
          style="color: rgb(213, 27, 27)"
          th:text="${error}"
        ></p>

        <form action="/forgot-password" method="post">
          <input
            type="email"
            id="email"
            name="email"
            required
            placeholder="Email"
          />
          <br />

          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
