<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <style>
      .error {
        color: red;
      }
    </style>
  </head>
  <body class="user-pass">
 
    <form
      action="/reset-password"
      method="post"
      onsubmit="return validateForm()"
    >
      <h2>Reset Password</h2>
       <p th:if="${errorMessage}" style="color: red" th:text="${errorMessage}"></p>
      <input
        type="password"
        id="newPassword"
        name="newPassword"
        required
        placeholder="New Password"
      />
      <br />
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        required
        placeholder="Confirm Password"
      />

      <br />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
